*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #4e74b9;
    padding-bottom: 0px ;
}

nav{
    display: flexbox;
    flex-direction: row;
    background-color: black;
}

ul{
    display: flex;
    background-color: #736A5A;
    height: 110px;
    padding: 10px;
    list-style: none;
    background-color: rgba(37, 36, 36, 0.911);
    padding-top: 10px;
}

li{
    padding-top: 20px;
    margin-left: 5px;
    
}

nav > ul > p{
    color: azure;
    font-weight:bold;
    font-size: 24px;
    text-shadow: 2px 2px 2px red;
}



li > a {
    text-decoration: none;  
    font-size: 20px;
    color: aliceblue;
    font-weight: bold;    
    text-align: right;    
    
}

a:hover{
    color: blue;
}

nav > ul > li > a{    
    margin-left: 130px;
          
} 

main{
    width: 100%;
}


.div2{
    margin-top: 10px;
    width: 70%;
    margin: 5px 5px;
    display: flex;
    margin: auto;
    border-radius: 8px;
    padding-top: 10px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));

}

.imgArvoreMao{
    margin-left: 35px;
    display: flex;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));

          
}

.imgRegandoArvore{
     margin-left: 750px;   
    
}

h2{
    text-align: center;
    margin-top: 18px;
    font-size: 36px;
    color: #37D90B;
    text-shadow: 2px 2px 1px rgb(253, 255, 254);
}

p{
    margin: 5px 7px;
    color: #E0E1E3;
    
}

.form{
    display: flexbox;
    flex-direction: column;
}


footer{
    position: relative;
    bottom: 0px;
    height: 80px;
    background-color: black;
    width: 100%;
    color: aliceblue;
}   

footer > p {
    text-align: center;
    margin-top: 20px;
    padding-top: 26px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(32, 164, 207);
    }

    ul > li{
        display: none;
    }

    
.div2{
    margin-top: 10px;
    width: 55%;
    margin-left: 12px;
    display: flex;    
    border-radius: 8px;
    padding-top: 10px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

  

  }

